@media only screen and (min-width: 600px) {
    .main{
        display: flex;
    }
    
    .right-parent{
        width: 80%
    }
    
    #search-history{
        width: 20%;
    }
}

body {
    background-image: url(./pexels-oleg-magni-1040473.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}

.city-container {
    padding: 0 0 0 50px;
    background-color: rgb(136, 117, 182);
    color: rgb(231, 217, 211);
    width: 40%;
    margin: 10px 10px 10px 10px;
}

#forecast-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card{
    max-width: 300px;
    margin: 1rem;
    background-color: rgb(136, 76, 196);
    color: rgb(182, 182, 207);
}
